.wrapper {
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

a[href] {
    color: blue;
    text-decoration: none;
}

.more-icon {
    margin-left: 28px;
    font-size: 1.8rem;
    background-color: transparent;
    padding: 8px;
    &:hover {
        cursor: pointer;
    }
}

.menu-items {
    width: 224px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    padding: 0px 6px;
    position: relative;
    display: flex;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: -12px;
    right: -6px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}
