.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }
}

.primary {
    background-color: #ff5a5f;
    color: white;
    border: none;

    &:hover {
        background-color: #ff7b7f;
    }
}

.rounded {
    border-radius: 100px;
    box-shadow: 0 2px 8px rgb(0 0 0/ 6%);
    border-color: rgba(22, 24, 35, 0.12);
}

.outline {
    background-color: transparent;
    color: #ff5a5f;
    border: 1px solid #ff5a5f;

    &:hover {
        background-color: #ff5a5f;
        color: white;
    }
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 116px;
    padding: 14px 16px;
}
